@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#popup3{
    background-color: #ffffff;
    width: 450px;
    /* padding: 30px 40px */;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
body{
    background: #d6c9b2;
    
}

::selection{
    color: #fff;
    background: #d6c9b2;
}




.start_btn3,
.info_box3,
.quiz_box3,
.result_box3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box3.activeInfo3,
.quiz_box3.activeQuiz3,
.result_box3.activeResult3{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn3 button{
    font-size: 25px;
    font-weight: 500;
    color: #01040a;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}



.quiz_box3{
    width: 550px;
    padding: 15px ;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    margin-left: 30px;
    position : absolute;
    z-index: 1;
    margin-bottom: 80px;
}




.quiz_box3  .timer3{
    margin-right: 80px;
    margin-top: 30px;
    padding: 0 30px;
    color: #1b180c;
    background: #d1bba1;
    border: 1px solid #413f36;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box3  .timer3 .time_left_txt3{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box3 .timer3 .timer_sec3{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box3 .time_line3{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #b8b8b8;
}
 
.quiz_box3 {
    width: 500px;
    height: 700px;
    padding: 25px 30px 30px 30px;
    background-image: url("fff.jpg");
    margin-left: 30px;
    margin-bottom: 80px;
}

.quiz_box3 .que_text3{
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.quiz_box3.option_list3{
    padding: 20px 0px;
    display: block;   
}

.quiz_box3 .option_list3 .option3{
    background: #d1bba1;
    border: 1px solid #413f36;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box3.option_list3 .option3:last-child{
    margin-bottom: 0px;
}

.quiz_box3 .option_list3 .option3:hover{
    color: #181517;
    background: #737475;
   
}

.quiz_box3 .option_list3 .option3.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz_box3 .option_list3 .option3.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz_box2.option_list2 .option2.disabled{
    pointer-events: none;
}

section .option_list3 .option3 .icon{
    height: 27px;
    width: 27px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list3 .option3 .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list3 .option3 .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    margin-top: 100px;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que3 span{
    display: flex;
    user-select: none;
}

footer .total_que3 span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que3 span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 8px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(24, 22, 22);
    border-radius: 5px;
    background: #d1bba1;
    border: 1px solid #1d1e1f;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #737475;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box3{
    background-image: url("fff.jpg");
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 500px;
    height:700px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box3 .icon{
    font-size: 100px;
    color: #46301f;
    margin-bottom: 10px;
}

.result_box3 .complete_text3{
    font-size: 20px;
    font-weight: 500;
}

.result_box3 .score_text3 span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box3 .score_text3 span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box3 .buttons3{
    display: flex;
    margin: 20px 0;
}

.result_box3 .buttons3 button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5a4b30;
    transition: all 0.3s ease;
}

/* .buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
} */

.buttons3 button.quit3{
    color: #4e381f;
    background: #fff;
}

.buttons3 button.quit3:hover{
    color: #fff;
    background: #737475;
}
